# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env/
venv/

# IDE files
.vscode/
.idea/

# Cat boost files
catboost_info/

# MLFlow files
mlruns/
mlartifacts/